pipeline-example1-terraform/.terraform.lock.hcl
pipeline-example1-terraform/terraform.tfstate
pipeline-example1-terraform/terraform.tfstate.backup
pipeline-example1-terraform/.terraform/*
.env
testfile.txt
.kube/config
WIP/